<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>
ssss
<!--<table>-->
<!--    <thead>-->
<!--    <tr>-->
<!--        <th> Name </th>-->
<!--        <th> Added at </th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr th:if="${students.empty}">-->
<!--        <td colspan="2"> No students added </td>-->
<!--    </tr>-->
<!--    <tr th:each="student : ${students}">-->
<!--        <td><span th:text="${student.name}"> Name </span></td>-->
<!--        <td><span th:text="${student.creationTime}"> Added at </span></td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--</table>-->

<!--<br/>-->
<!--<br/>-->
<!--<a href="/spring/mvc/add">Add student</a>-->

</body>
</html>